:root {
    --text-color: #dedbfe;
    --bg-color: #07031d;
    --prime-color: #856ffc;
    --second-color: #a70314;
    --accent-color: #fb942b;
    --usually-black: black;
    --usually-white: white;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.body-bg {
    background: #8770F9;
    background: linear-gradient(66deg, rgba(135, 112, 249, 1) 0%, rgba(251, 148, 43, 1) 100%);

    nav{
        background: rgba(255, 255, 255, 0);
        box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
        backdrop-filter: blur(15px);
        -webkit-backdrop-filter: blur(8.9px);
    }
}

h1 {
    font-family: "Lexend Deca", sans-serif;
    font-optical-sizing: auto;
    font-weight: bolder;
    font-style: normal;
}

.album-card{
    border-radius: 15px;
    height: 100%;
    background: rgba(255, 255, 255, 0.324);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(8.9px);

    transition: 0.2s;

    img{
        border-radius: 8px;
    }

    h2 {
        font-family: "Lexend Deca", sans-serif;
        font-optical-sizing: auto;
        font-weight: bold;
        font-style: normal;
    }

    h3 {
        color: rgba(0, 0, 0, 0.507);
    }

    h5,
    p {
        color: rgba(0, 0, 0, 0.412);
    }

    h3,
    h5,
    p {
        font-family: "Roboto", sans-serif;
        font-optical-sizing: auto;
        font-weight: bold;
        font-style: normal;
    }

    &:hover {
        cursor: pointer;
        rotate: 2deg;
        box-shadow: 6px 6px 20px rgba(0, 0, 0, 0.267);
    }
}

.offcanvas-btn {
    background-color: var(--second-color);
    color: var(--usually-white);
    border: none;
    border-radius: 12px;
    font-family: "Lexend Deca", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
    font-size: 15px;
    cursor: pointer;
    transition: 0.2s;

    &:hover{
        margin-right: 4px;
    }
}